{
	"extends": "stylelint-config-sass-guidelines",
	"rules": {
		"indentation": "tab",
		"string-quotes": "double",
		"max-nesting-depth": null,
		"selector-class-pattern": null,
		"color-named": null,
		"order/properties-alphabetical-order": null,
		"scss/dollar-variable-pattern": null,
		"scss/at-extend-no-missing-placeholder": null
	}
}
