.ArchetypeSelection {
	width: 465px;
	margin-bottom: $vu*2;

	&-header {
		display: table;
		width: 100%;
		margin-bottom: $vu*2;

		&-ico,
		&-primary,
		&-secondary {
			@extend .u-text-default, .u-weight-regular;
			display: table-cell;
			color: $color-yellow;
			text-transform: uppercase;
			vertical-align: middle;
		}

		&-primary {
			text-align: right;
		}

		&-secondary {
			text-align: left;
		}

		&-ico {
			text-align: center;
			padding: 0 $vu*2;
		}
	}

	&-body {
		display: table;
		width: 100%;
		margin-bottom: $vu*4;

		&-row {
			display: table-cell;
			width: 50%;
			padding: 0 $vu;
			text-align: center;
		}

		&-inputWrapper {
			display: inline-block;
			margin: 0 auto;
			text-align: left;
		}
	}
}
