.ArchetypeIco {
	$border-size: 1px;
	display: inline-block;
	width: $ico-size;
	height: $ico-size;
	border-radius: 100%;
	overflow: hidden;
	vertical-align: top;
	margin-top: $ico-offset;
	border: $border-size solid $color-grey;

	&::before,
	&::after {
		display: inline-block;
		content: " ";
		width: 50%;
		height: 100%;
		vertical-align: top;
		background: $color-grey;
	}

	&.ArchetypeIco--primaryP {
		@include mx-archetype-primary($color-red);
	}

	&.ArchetypeIco--primaryS {
		@include mx-archetype-primary($color-green);
	}

	&.ArchetypeIco--primaryM {
		@include mx-archetype-primary($color-blue);
	}

	&.ArchetypeIco--secondaryP::after {
		background-color: $color-red;
	}

	&.ArchetypeIco--secondaryS::after {
		background-color: $color-green;
	}

	&.ArchetypeIco--secondaryM::after {
		background-color: $color-blue;
	}
}
