.Tooltip {
	@extend .u-text-default;
	position: absolute;
	z-index: 100;
	padding: $vu 2*$vu;
	margin-top: (-2*$vu);
	background: $color-black;
	border-radius: $border-radius-default;
	text-align: left;
	pointer-events: none;

	&::after {
		position: absolute;
		top: $vu;
		left: (-2*$vu);
		content: " ";
		width: 0;
		height: 0;
		border: $vu solid transparent;
		border-right-color: $color-black;
	}
}
