.FormSelect {
	@extend .u-text-default, .u-weight-regular;
	display: block;
	width: 100%;
	height: $line-height-default;
	border: 1px solid $color-yellow;
	background: $color-grey-dark;
	color: $color-yellow;
	transition: border-color linear $anim-default, color linear $anim-default;

	&-item {
		/* ... */
	}

	&[disabled] {
		color: $color-grey;
		border-color: $color-grey;
	}

	&:focus {
		color: $color-white;
		border-color: $color-white;
	}
}
