.Bar {
	position: relative;
	height: $vu;
	background: $color-black;
	border-radius: $border-radius-default;
	border: 1px solid $color-yellow;

	&-amount {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		transition: 300ms width;
	}

	&-decrease {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		transition: 300ms width;
		transition-delay: 100ms;
		background: $color-red;
	}

	&-increase {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background: $color-white;
	}

	&,
	&.Bar--green {
		border-color: $color-green;

		.Bar-amount {
			background-color: $color-green;
		}
	}

	&.Bar--blue {
		border-color: $color-blue;

		.Bar-amount {
			background-color: $color-blue;
		}
	}

	&.Bar--yellow {
		border-color: $color-yellow;

		.Bar-amount {
			background-color: $color-yellow;
		}
	}

	&.is-disabled {
		background-color: $color-grey-dark;
		border-color: $color-grey;
	}
}
