.BattleUI {
	@extend .u-text-default, .u-weight-regular;
	color: $color-yellow;
	text-align: left;
	padding: 5*$vu;

	&-layout {
		display: flex;
		justify-content: center;

		&-column {
			&.BattleUI-layout-column--actor {
				flex: 0 1 400px;
			}

			&.BattleUI-layout-column--grid {
				max-width: 780px;
				flex: 1 0 auto;
				padding: 0 20px;
			}

			&.BattleUI-layout-column--reactor {
				flex: 0 1 400px;
			}
		}
	}
}
