.BattleUI {
	@extend .u-text-default, .u-weight-regular;
	height: 100%;
	padding: 5*$vu;
	color: $color-yellow;
	text-align: left;

	&-layout {
		display: flex;
		height: 100%;
		justify-content: center;

		&-column {
			&.BattleUI-layout-column--character {
				flex: 0 1 320px;
			}

			&.BattleUI-layout-column--grid {
				flex: 1 0 auto;
				padding: 0 20px;
			}

			&.BattleUI-layout-column--order {
				flex: 0 1 300px;
			}
		}
	}
}
