.BattleUI {
	@extend .Paragraph;
	text-align: left;
	padding: 5*$vu;

	&-heading {
		@extend .u-weight-bold;
		font-weight: normal;
		margin-bottom: 2*$vu;
	}

	&-table {
		width: 100%;
		border-collapse: collapse;

		&-column {
			padding-left: 5*$vu;
			vertical-align: top;

			&:first-child {
				padding-left: 0;
			}

			&.BattleUI-table-column--players { width: 400px; }
			&.BattleUI-table-column--actions { width: 450px; }
			&.BattleUI-table-column--grid { width: 400px; }
		}
	}
}
