.GridTiles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&-item {
		$black-bg: #000;
		$black-border: #444;
		$green-bg: #084;
		$green-border: #063;
		$blue-bg: #04d;
		$blue-border: #02b;
		$yellow-bg: #dc0;
		$yellow-border: #b90;

		position: absolute;
		box-sizing: border-box;
		border: 1px solid $color-grey;

		&.GridTiles-item--default { @include mx-grid-tile($black-bg, $black-border); }

		&.GridTiles-item--movable { @include mx-grid-tile($green-bg, $green-border); }
		&.GridTiles-item--movePath { @include mx-grid-tile($blue-bg, $blue-border); }
		&.GridTiles-item--moveTarget { @include mx-grid-tile($yellow-bg, $yellow-border); }

		&.GridTiles-item--actionRange { @include mx-grid-tile($green-bg, $green-border); }
		&.GridTiles-item--actionTargetable { @include mx-grid-tile($blue-bg, $blue-border); }

		&.GridTiles-item--actionEffectArea { @include mx-grid-tile($green-bg, $green-border); }
		&.GridTiles-item--actionEffectTargets { @include mx-grid-tile($blue-bg, $blue-border); }
		&.GridTiles-item--actionEffectTarget { @include mx-grid-tile($yellow-bg, $yellow-border); }

		&.GridTiles-item--reactors { @include mx-grid-tile($blue-bg, $blue-border); }
		&.GridTiles-item--reactionEvasible { @include mx-grid-tile($green-bg, $green-border); }
		&.GridTiles-item--reactor { @include mx-grid-tile($yellow-bg, $yellow-border); }

		&.GridTiles-item--directable { @include mx-grid-tile($green-bg, $green-border); }
		&.GridTiles-item--directTarget { @include mx-grid-tile($yellow-bg, $yellow-border); }
	}
}
