.GridBattleInfo {
	$anim-duration: 5s;
	$anim-distance: 10rem;

	@keyframes battleInfoAnim {
		from {
			opacity: 1;
			transform: translate(0, 0);
		}

		to {
			opacity: 0;
			transform: translate(0, -10rem);
		}
	}
	list-style-type: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;

	&-item {
		@extend .u-text-default;
		position: absolute;
		animation-name: battleInfoAnim;
		animation-fill-mode: forwards;
		animation-duration: $anim-duration;
		animation-timing-function: linear;

		&.GridBattleInfo-item--default {
			color: $color-yellow;
		}

		&.GridBattleInfo-item--damage {
			color: $color-white;
		}

		&.GridBattleInfo-item--healing {
			color: $color-green;
		}
	}
}
