.GridCoordinates {
	$strip-size: 4*$vu;

	&-row {
		display: flex;

		&-column {
			flex: 1 0 auto;
			text-align: center;
			font-size: 0;

			&:first-child,
			&:last-child {
				flex-grow: 0;
				width: $strip-size;
			}
		}
	}

	&-letters {
		display: flex;

		&-item {
			@extend .u-text-small;
			flex: 1 0 auto;
			text-align: center;
			color: $color-grey;
			line-height: $strip-size;
		}
	}

	&-numbers {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100%;

		&-item {
			@extend .u-text-small;
			text-align: center;
			color: $color-grey;
		}
	}
}
