.GridCharacters {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&-item {
		position: absolute;
		transition: 150ms top, left;

		&-visual {
			width: 100%;
			height: 100%;
			font-size: 9px;
			color: $color-black;
			text-align: center;
			border-radius: 100%;
			background: $color-black;
			border: 4px solid $color-grey;

			&.GridCharacters-item-visual--player-0 {
				border-color: $player-0-color-secondary;
				background-color: $player-0-color-main;
			}

			&.GridCharacters-item-visual--player-1 {
				border-color: $player-1-color-secondary;
				background-color: $player-1-color-main;
			}

			&.is-selected {
				border-color: $color-yellow-light;
			}

			&.is-dying {
				color: $color-white;
				border-color: $color-grey;
				background: $color-grey-dark;
			}
		}

		&-dir {
			$dir-ico-size: 4px;
			position: absolute;
			width: 0;
			height: 0;
			border-radius: 100%;
			border: $dir-ico-size solid $color-white;

			&.GridCharacters-item-dir--top {
				top: 0;
				left: calc(50% - #{$dir-ico-size});
			}

			&.GridCharacters-item-dir--bottom {
				bottom: 0;
				left: calc(50% - #{$dir-ico-size});
			}

			&.GridCharacters-item-dir--left {
				top: calc(50% - #{$dir-ico-size});
				left: 0;
			}

			&.GridCharacters-item-dir--right {
				top: calc(50% - #{$dir-ico-size});
				right: 0;
			}
		}
	}
}
