.Order {
	list-style-type: none;
	display: flex;
	width: 100%;
	overflow-x: scroll;
	margin-bottom: 4*$vu;

	&-item {
		flex: 1 0 auto;
		padding: $vu;
		margin-right: 2px;
		border-top: 2px solid $color-grey;

		&:last-child {
			margin-right: 0;
		}

		&-title {
			@extend .u-text-default;
		}

		&-info {
			@extend .u-text-small;
		}

		&.Order-item--type0 {
			border-color: darkorchid;
		}

		&.Order-item--type1 {
			border-color: salmon;
		}

		&.is-active { background-color: $color-black; }
		&.is-dying { background-color: $color-red-dark; }
	}
}
