.Players {
	&-item {
		margin-bottom: 2*$vu;

		&-ico {
			display: inline-block;
			width: 2*$vu;
			height: 2*$vu;
			margin-right: $vu;
			border-radius: 100%;
			vertical-align: middle;
	
			&.Players-item-ico--player-0 {
				background-color: darkviolet;
			}
	
			&.Players-item-ico--player-1 {
				background-color: tomato;
			}
		}

		&-characters {
			width: 100%;
			border-collapse: collapse;

			&-heading {
				text-align: right;
				padding-left: $vu;
			}

			&-item {
				&-row {
					&.Players-item-characters-item-row--number {
						padding-left: $vu;
						text-align: right;
					}
				}

				&-base {
					color: $color-grey;
				}

				&.is-active { background-color: $color-black; }
				&.is-dying { background-color: $color-red-dark; }
			}
		}
	}
}
