.PlayerIco {
	display: block;
	height: 4px;
	margin-bottom: 2*$vu;
	background-color: $color-grey;

	&.PlayerIco--player0 { background-color: $player-0-color-main; }
	&.PlayerIco--player1 { background-color: $player-1-color-main; }
}
