.Players {
	&-item {
		margin-bottom: 2*$vu;

		&-characters {
			width: 100%;
			border-collapse: collapse;

			&-heading {
				text-align: right;
				padding-left: $vu;
			}

			&-item {
				&-row {
					&.Players-item-characters-item-row--number {
						padding-left: $vu;
						text-align: right;
					}
				}

				&-base {
					color: $color-grey;
				}

				&.is-active { background-color: $color-black; }
				&.is-dying { background-color: $color-red-dark; }
			}
		}
	}
}
