.BattleUI {
	.Paragraph;
	text-align-last: left;
	padding: 7*@vu 5*@vu 5*@vu;

	&-heading {
		.u-weight-bold;
		font-weight: normal;
		margin-bottom: 2*@vu;
	}

	&-table {
		width: 100%;
		border-collapse: collapse;

		&-column {
			padding-left: 5*@vu;
			vertical-align: top;

			&:first-child {
				padding-left: 0;
			}

			&&--order { width: 200px; }
			&&--players { width: 300px; }
			&&--grid { width: 400px; }
		}
	}
}
